<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Dados de contato-->
		<add key="name" value="Caio Naim"/>
		<add key="mail" value="teste@gmail.com"/>
		<add key="subject" value="Mensagem inportante"/>
		<add key="message" value="Olá mundo"/>
	</appSettings>
</configuration>